<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\Lenovo\Desktop\TTracker\Data"/>
  </appSettings>
  <connectionStrings>
    <add name ="tournaments" connectionString="Server=localhost;Port=3310;Database=tournaments;Uid=root;Pwd=1234567890;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>